#singleMentorCoverPicture {
  background-image: url("../../../Images/Mentors/ddd.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#disabledButton {
  cursor: not-allowed;
}
.noReviewsFound{
    margin: 10px 0 0px 30px;
    color: #1111 1;
}
