#singleMentorCoverPicture {
  background-image: url("../../../Images/Mentors/ddd.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#disabledButton {
  cursor: not-allowed;
}
.noReviewsFound {
  color: #111;
  margin: auto;
  text-align: center;
  padding: 10px 20px;
}
